.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-catalog {
	font-size:(24/10)*1rem;
	width:(34/24)*1em;
}
.icon-catalog-1 {
	font-size:(42/10)*1rem;
	width:(46/42)*1em;
}
.icon-catalog-10 {
	font-size:(46/10)*1rem;
	width:(44/46)*1em;
}
.icon-catalog-11 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-catalog-12 {
	font-size:(33/10)*1rem;
	width:(44/33)*1em;
}
.icon-catalog-13 {
	font-size:(46/10)*1rem;
	width:(45/46)*1em;
}
.icon-catalog-14 {
	font-size:(46/10)*1rem;
	width:(44/46)*1em;
}
.icon-catalog-15 {
	font-size:(37/10)*1rem;
	width:(44/37)*1em;
}
.icon-catalog-16 {
	font-size:(46/10)*1rem;
	width:(44/46)*1em;
}
.icon-catalog-17 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-catalog-18 {
	font-size:(46/10)*1rem;
	width:(45/46)*1em;
}
.icon-catalog-19 {
	font-size:(27/10)*1rem;
	width:(44/27)*1em;
}
.icon-catalog-2 {
	font-size:(31/10)*1rem;
	width:(44/31)*1em;
}
.icon-catalog-20 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-catalog-21 {
	font-size:(46/10)*1rem;
	width:(39/46)*1em;
}
.icon-catalog-22 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-catalog-23 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-catalog-24 {
	font-size:(44/10)*1rem;
	width:(37/44)*1em;
}
.icon-catalog-25 {
	font-size:(38/10)*1rem;
	width:(46/38)*1em;
}
.icon-catalog-3 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-catalog-4 {
	font-size:(46/10)*1rem;
	width:(38/46)*1em;
}
.icon-catalog-5 {
	font-size:(46/10)*1rem;
	width:(42/46)*1em;
}
.icon-catalog-6 {
	font-size:(40/10)*1rem;
	width:(44/40)*1em;
}
.icon-catalog-7 {
	font-size:(42/10)*1rem;
	width:(44/42)*1em;
}
.icon-catalog-8 {
	font-size:(46/10)*1rem;
	width:(40/46)*1em;
}
.icon-catalog-9 {
	font-size:(40/10)*1rem;
	width:(44/40)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-chevron-right {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-envelope {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-file {
	font-size:(500/10)*1rem;
	width:(394.15/500)*1em;
}
.icon-flag {
	font-size:(500/10)*1rem;
	width:(303.57/500)*1em;
}
.icon-flag-2 {
	font-size:(500/10)*1rem;
	width:(303.57/500)*1em;
}
.icon-like {
	font-size:(459.71/10)*1rem;
	width:(500/459.71)*1em;
}
.icon-mark {
	font-size:(500/10)*1rem;
	width:(346.12/500)*1em;
}
.icon-menu-1 {
	font-size:(24/10)*1rem;
	width:(34/24)*1em;
}
.icon-menu-2 {
	font-size:(34/10)*1rem;
	width:(24/34)*1em;
}
.icon-menu-3 {
	font-size:(33/10)*1rem;
	width:(34/33)*1em;
}
.icon-menu-4 {
	font-size:(29/10)*1rem;
	width:(34/29)*1em;
}
.icon-menu-5 {
	font-size:(26/10)*1rem;
	width:(34/26)*1em;
}
.icon-rew {
	font-size:(462.07/10)*1rem;
	width:(500/462.07)*1em;
}
.icon-search {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-star {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-statistics {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-tel {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-thumbs-down {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-thumbs-up {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-web {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
