mixin s-cities()
	// start s-cities
	+b.SECTION.s-cities.section.bg-white&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 КРУПНЕЙШАЯ БАЗА ПРЕДПРИЯТИЙ МОСКВЫ И МОСКОВСКОЙ ОБЛАСТИ


			.letters
				.letterArea
					.mainPageFirstLetter А
					.mainPageCity
						a(href='/aprelevka/', style='') Апрелевка
				.letterArea
					.mainPageFirstLetter Б
					.mainPageCity
						a(href='/balashiha/', style='') Балашиха
					.mainPageCity
						a(href='/bronnitcy/', style='') Бронницы
				.letterArea
					.mainPageFirstLetter В
					.mainPageCity
						a(href='/vidnoe/', style='') Видное
					.mainPageCity
						a(href='/volokolamsk/', style='') Волоколамск
					.mainPageCity
						a(href='/voskresensk/', style='') Воскресенск
				.letterArea
					.mainPageFirstLetter Г
					.mainPageCity
						a(href='/golitcino/', style='') Голицыно
				.letterArea
					.mainPageFirstLetter Д
					.mainPageCity
						a(href='/dedovsk/', style='') Дедовск
					.mainPageCity
						a(href='/dzerzhinskiy/', style='') Дзержинский
					.mainPageCity
						a(href='/dmitrov/', style='') Дмитров
					.mainPageCity
						a(href='/dolgoprudniy/', style='') Долгопрудный
					.mainPageCity
						a(href='/domodedovo/', style='') Домодедово
					.mainPageCity
						a(href='/dubna/', style='') Дубна
				.letterArea
					.mainPageFirstLetter Е
					.mainPageCity
						a(href='/egorievsk/', style='') Егорьевск
				.letterArea
					.mainPageFirstLetter Ж
					.mainPageCity
						a(href='/zheleznodorozhniy/', style='') Железнодорожный
					.mainPageCity
						a(href='/zhukovsky/', style='') Жуковский
				.letterArea
					.mainPageFirstLetter З
					.mainPageCity
						a(href='/zaraisk/', style='') Зарайск
					.mainPageCity
						a(href='/zvenigorod/', style='') Звенигород
				.letterArea
					.mainPageFirstLetter И
					.mainPageCity
						a(href='/ivanteevka/', style='') Ивантеевка
					.mainPageCity
						a(href='/istra/', style='') Истра
				.letterArea
					.mainPageFirstLetter К
					.mainPageCity
						a(href='/kashira/', style='') Кашира
					.mainPageCity
						a(href='/klimovsk/', style='') Климовск
					.mainPageCity
						a(href='/klin/', style='') Клин
					.mainPageCity
						a(href='/kolomna/', style='') Коломна
					.mainPageCity
						a(href='/korolev/', style='') Королев
					.mainPageCity
						a(href='/kotelniki/', style='') Котельники
					.mainPageCity
						a(href='/krasnoarmeisk/', style='') Красноармейск
					.mainPageCity
						a(href='/krasnogorsk/', style='') Красногорск
					.mainPageCity
						a(href='/krasnoznamensk/', style='') Краснознаменск
					.mainPageCity
						a(href='/kubinka/', style='') Кубинка
					.mainPageCity
						a(href='/kurovskoe/', style='') Куровское
				.letterArea
					.mainPageFirstLetter Л
					.mainPageCity
						a(href='/likino-dulevo/', style='') Ликино-Дулёво
					.mainPageCity
						a(href='/lobnya/', style='') Лобня
					.mainPageCity
						a(href='/losino-petrovskiy/', style='') Лосино-Петровский
					.mainPageCity
						a(href='/luhovicy/', style='') Луховицы
					.mainPageCity
						a(href='/lytkarino/', style='') Лыткарино
					.mainPageCity
						a(href='/lyuberci/', style='') Люберцы
				.letterArea
					.mainPageFirstLetter М
					.mainPageCity
						a(href='/mojaisk/', style='') Можайск
					.mainPageCity
						a(href='/moscow/',).current-link Москва
					.mainPageCity
						a(href='/moskovskiy/', style='') Московский
					.mainPageCity
						a(href='/mitishi/', style='') Мытищи
				.letterArea
					.mainPageFirstLetter Н
					.mainPageCity
						a(href='/naro-fominsk/', style='') Наро-Фоминск
					.mainPageCity
						a(href='/nahabino/', style='') Нахабино
					.mainPageCity
						a(href='/nogins/', style='') Ногинск
				.letterArea
					.mainPageFirstLetter О
					.mainPageCity
						a(href='/odincovo/', style='') Одинцово
					.mainPageCity
						a(href='/ozery/', style='') Озеры
					.mainPageCity
						a(href='/oktyabrskiy/', style='') Октябрьский
					.mainPageCity
						a(href='/orehovo-zuevo/', style='') Орехово-Зуево
				.letterArea
					.mainPageFirstLetter П
					.mainPageCity
						a(href='/pavlovskiy_posad/', style='') Павловский Посад
					.mainPageCity
						a(href='/podolsk/', style='') Подольск
					.mainPageCity
						a(href='/protvino/', style='') Протвино
					.mainPageCity
						a(href='/pushkino/', style='') Пушкино
					.mainPageCity
						a(href='/pushino/', style='') Пущино
				.letterArea
					.mainPageFirstLetter Р
					.mainPageCity
						a(href='/ramenskoe/', style='') Раменское
					.mainPageCity
						a(href='/reutov/', style='') Реутов
					.mainPageCity
						a(href='/roshal/', style='') Рошаль
					.mainPageCity
						a(href='/ruza/', style='') Руза
				.letterArea
					.mainPageFirstLetter С
					.mainPageCity
						a(href='/sergiev_posad/', style='') Сергиев Посад
					.mainPageCity
						a(href='/serpuhov/', style='') Серпухов
					.mainPageCity
						a(href='/solnechnogorsk/', style='') Солнечногорск
					.mainPageCity
						a(href='/staraya-kupavna/', style='') Старая Купавна
				.letterArea
					.mainPageFirstLetter Т
					.mainPageCity
						a(href='/taldom/', style='') Талдом
					.mainPageCity
						a(href='/tomilino/', style='') Томилино
					.mainPageCity
						a(href='/troitck/', style='') Троицк
				.letterArea
					.mainPageFirstLetter Ф
					.mainPageCity
						a(href='/fryazino/', style='') Фрязино
				.letterArea
					.mainPageFirstLetter Х
					.mainPageCity
						a(href='/himki/', style='') Химки
					.mainPageCity
						a(href='/hotkovo/', style='') Хотьково
				.letterArea
					.mainPageFirstLetter Ч
					.mainPageCity
						a(href='/chernogolovka/', style='') Черноголовка
					.mainPageCity
						a(href='/chehov/', style='') Чехов
				.letterArea
					.mainPageFirstLetter Ш
					.mainPageCity
						a(href='/shatura/', style='') Шатура
				.letterArea
					.mainPageFirstLetter Щ
					.mainPageCity
						a(href='/shelkovo/', style='') Щелково
					.mainPageCity
						a(href='/sherbinka/', style='') Щербинка
				.letterArea
					.mainPageFirstLetter Э
					.mainPageCity
						a(href='/electrogorsk/', style='') Электрогорск
					.mainPageCity
						a(href='/elektrostal/', style='') Электросталь
					.mainPageCity
						a(href='/electrougli/', style='') Электроугли

	// end s-cities