mixin s-rew()
	// start s-rew
	+b.SECTION.s-rew.section.panel-block
		+b.section-title.text-center
			h2 ПОСЛЕДНИЕ ОТЗЫВЫ
		- for (var x = 0; x < 3; x++)
			+e.item
				.h6.text-primary  orlicn о компании 
					|
					a(href="#").strong.tdu "Герань" - Мастерская флористики и декора. 
					| 
					| 10 сентября 2018

				p От моего букета---как я и говорила,все на свадьбе были в восторге. Анна, спасибо ещё раз за то, что так серьезно подходите к своей работе! Спасибо, что так отнеслись к пожеланиям и нашли ленту в тон галстуку!!! Даже, когда кидали букет, с ним всё было в порядке и он ещё долго радовал подругу!!!
	// end s-rew