mixin s-content()
	// start s-content
	+b.s-content.section.block-with-lazy#s-content&attributes(attributes)
		.container
			//- +b.section-title.text-center
			//- 	h2 s-content
				
			.row
				.col
					.h6.text-primary.strong Подольск – краткая информация о городе

					p Подольск расположен на реке Пахра, в 36 км от центра Москвы. Подольск получил статус города в 1781 году, до конца 18 века – село Подол. Город Подольск поделен на 6 направлений дорогами, идущими от центральной улицы Ленина. 

					p Достопримечательностью города Подольск является усадьба Ивановское, на территории которой размещается Краеведческий музей и Федеральный музей профессионального образования. В городе Подольск есть два моста, которые соединяют части города, разделенные рекой Пахрой. 

					p На территории Подольска действует более десятка промышленных предприятий. Также в Подольске сконцентрировано большое количество научных центров федерального значения. В последние 20 лет в Подольске активно развивается малый бизнес. 

					p Быстро сориентироваться в транспортных маршрутах Подольска, найти адреса и телефоны предприятий, получить необходимые услуги в городе Подольск можно при помощи справочника Plan1.ru Только актуальная информация о Подольске, быстрый поиск нужного адреса на интерактивной карте, комплекс информации об административных учреждениях города и коммерческих организациях.
				.col-xl-auto.col-lg-4
					+pic('',"gerb-lg","lazy","png")
	// end s-content